@import "node_modules/bootstrap-scss/bootstrap.scss";
@import "blocks/variables.scss";
@import "blocks/mixins.scss";
@import "blocks/normalize.scss";
@import "blocks/sprite-png.scss";
@import "blocks/fonts.scss";
@import "blocks/slick.scss";
@import "blocks/slick-theme.scss";

// PAGE COMPONENTS
@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/index.scss";
@import "blocks/pages.scss";
@import "blocks/product.scss";
@import "blocks/collection.scss";


.icon {
  display: inline-block;
}

.icon-chrome {
  @include sprite($chrome);

}

.icon-placeholder {
  @include sprite($placeholder);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


body::-webkit-scrollbar{
  width: 6px;
}

body::-webkit-scrollbar {
  width: 6px;
  background: #000;
}


body::-webkit-scrollbar-thumb {
  background: #fff;
}