.collection_banner {

    .collection_info {
        padding-left: 120px;
        @include r(1200){
           padding-left: 0;
         }
        h3 {
            font-size: 64px;
            line-height: 70px;
            margin-bottom: 40px;
            font-family: vanguard-cf-bold;
            @include r(1200){
                font-size: 50px;
                line-height: 60px;
                margin-bottom: 24px;
              }
        }

        p {
            color: #404040;
            font-family: ProductSans;
            font-size: 16px;
            line-height: 22px;
        }
    }

}

.collection_product {
    padding: 60px 120px 40px 120px;
    .cards{
        padding: 10px !important;
    }
    @include r(1400){
        padding: 30px 15px;
    }


   


    .filter_title {
        margin: 24px 0;
        &:first-child{
            margin-top: 0;
        }
        h3 {
            font-size: 18px;
            font-family: ProductSans-Bold;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }
    .collection_filter {
        .filter_title {
            h3 {
                font-size: 18px;
                font-family: ProductSans-Bold;
                text-transform: uppercase;
            }
        }

        .filter-group {
            margin-bottom: 16px;

            input[type=checkbox]+label {
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 32px;
                font-family: ProductSans;
            }

            input[type=checkbox] {
                display: none;
            }

            input[type=checkbox]+label:before {
                content: "";
                border: 1px solid #000;
                border-radius: 0;
                display: inline-block;
                width: 20px;
                height: 20px;
                color: transparent;
                position: absolute;
                left: 0;
            }


            input[type=checkbox]:checked+label:after {
                content: '';
                width: 6px;
                height: 13px;
                border-right: 2px solid #000;
                border-bottom: 2px solid #000;
                position: absolute;
                left: 7px;
                top: 4px;
                transform: rotate(35deg);
            }


        }

    }
}