footer {
    background: #000;
    padding: 40px 0;

    @include r(992) {
        .col-lg-3 {
            margin-bottom: 16px;
        }
    }

    .footer-logo {
        img {
            width: 120px;
        }
    }

    .social {
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .f-menu {
        .f-title {
            font-family: vanguard-cf-bold;
            color: #fff;
            font-size: 22px;
            line-height: 24px;
            letter-spacing: .05em;
            margin-bottom: 18px;
        }

        .f-link {
            color: #fff;
            font-family: ProductSans;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom: 0;
        }
    }

    .footer-bottom {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;

        .footer-info {

            p,
            a {
                color: #fff;
                font-family: ProductSans;
                font-size: 13px;
                line-height: 28px;
                letter-spacing: 1px;
                margin-bottom: 0;

                @include r(768) {
                    margin-top: 16px;
                }
            }
        }
    }
}