header {
    padding: 12px 60px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 72px;
    z-index: 1100;
    position: fixed;
    width: 100%;
    top: 0;

    @include r(1200) {
        padding: 12px;
        height: 60px;
    }

    .mobile_bars {
        display: none;

        @include r(992) {
            display: block;
        }
    }

    .navbar-brand {
        img {
            width: 120px;

            @include r(576) {
                width: 90px;
            }
        }
    }

    .mobile-icons{
        display: none;
        @include r(992){
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    .block_992{
        display: none;
        @include r(992){
            display: block;
        }
    }

    .menu {
        @include r(992) {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 44px;
            height: 72px;

            .nav-item {
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                .hover-menu {
                    left: 0;
                    top: 98%;
                    width: 100%;
                    min-height: 120px;
                    background: #fff;
                    transition: 0.3s;
                    position: absolute;
                    box-shadow: 0px 35px 100px -31px #eee;
                    display: none;
                    padding: 40px 160px;

                    @include r(1365) {
                        padding: 20px;
                    }

                    .h_item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                            width: 80%;
                        }

                        span {
                            color: #000;
                            font-family: ProductSans-Medium;
                            font-weight: 600;
                            font-size: 17px;
                            text-transform: uppercase;
                            display: inline-block;
                            margin-top: 16px;
                            text-align: center;

                            @include r(1365) {
                                font-size: 15px;

                                @include r(1200) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .hover-menu {
                        display: block;

                    }
                }


                .nav-link {
                    color: white;
                    font-family: ProductSans-Medium;
                    font-size: 15px;

                    img {
                        transition: .3s;
                    }

                    &:hover {
                        color: white;

                        .hover-menu {
                            width: 100%;
                        }

                        img {
                            transform: rotate(180deg);
                        }
                    }


                }

            }
        }
    }

    .right-menu {
        display: flex;
        align-items: center;
        gap: 30px;
        @include r(992){
            gap: 20px;
        }
    }




}

.search-modal {
    .modal-dialog {
        margin-top: 120px;
        max-width: 600px;
        padding: 60px 45px;
        background-color: #fff;
        position: relative;

        .close {
            position: absolute;
            top: -42px;
            right: -30px;
        }

        .modal-header {
            h2 {
                font-family: ProductSans-Medium;
                font-size: 40px;
            }
        }

        input {
            border-radius: 0;
            border: 0;
            font-family: ProductSans-Regular;
            font-size: 15px;

        }

        .input-group-text {
            background: transparent;
            border-radius: 0;
            border: 0;

            img {
                filter: brightness(25%) invert(1);
            }
        }
    }
}

.mobile_menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: -100%;
    transition: .4s;
    display: flex;

    &.active {
        left: 0;
    }

    .mobile_left_menu {
        background: #fff;
        width: 50%;
        height: 100%;
        position: relative;
        padding-top: 40px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
        }

        @include r(768) {
            width: 75%;
            @include r(576){
                width: 100%;
                overflow-x: hidden;
            }
        }

        .mobile_times {
            position: absolute;
            right: 5px;
            top: 15px;
            color: #000;
        }

        .accordion-item {
            width: 95%;
            margin: auto;
            border: 0;
        }

        .accordion-header {
            border: 0;
        }

        .accordion-body {
            padding: 16px 0;

        }

        .mobile_link {
            border-bottom: 1px solid #ddd;
            color: #000;
            font-family: ProductSans-Medium;
            padding: 16px 0;
            display: block;
            width: 95%;
            margin: auto;
        }

        .accordion-button {
            box-shadow: none;
            background-color: #fff;
            border-radius: 0;
            border-bottom: 1px solid #ddd;
            color: #000;
            font-family: ProductSans-Medium;
            padding: 16px 0;

            &.collapsed {
                border-radius: 0;
            }

            &::after {
                filter: brightness(20%);
            }
        }

        .mobile_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 24px;

            @include r(576){
                margin-bottom: 12px;
                img{
                    width: 90%;
                }
                span{
                    font-size: 12px;
                    line-height: 15px;
                    margin-top: 8px;
                }
            }
             img {
                width: 75%;
            }

            span {
                font-family: ProductSans;
                color: #000;
                font-size: 15px;
                margin-top: 16px;
                text-transform: uppercase;
                display: inline-block;
                text-align: center;
                word-wrap: break-word;

            }
        }
    }

    .mobile_right_menu {
        width: 50%;
        height: 100%;
        background: transparent;

        @include r(768) {
            width: 25%;
            @include r(576){
              display: none;
            }
        }
    }
}

@include r(992) {
    .none_992 {
        display: none;
    }
}