main {
    min-height: 50vh;
    margin-top: 72px;

    @include r(1200) {
        margin-top: 60px;
    }

    .main-slider {
        max-height: 950px;

        .slider-item {
            width: 100%;
            height: 100%;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .slick-prev {
            left: 30px;
            display: none;

        }

        .slick-next {
            right: 30px;
            display: none;
        }
    }



    .logo-slider {
        padding: 30px 80px;

        @include r(992) {
            padding: 30px 15px 0 15px;
        }

        .slick-arrow {
            border: 1px solid #000;
            width: 25px;
            height: 25px;
            background: #fff;
            border-radius: 50%;

            &.slick-next {
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 45%;
                    border-right: 2px solid #000;
                    border-top: 2px solid #000;
                    transform: rotate(45deg);
                    right: 35%;

                }
            }

            &.slick-prev {
                display: flex;
                align-items: center;
                justify-content: center;
                left: 0px;
                z-index: 99;

                &::after {
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 45%;
                    left: 40%;
                    border-left: 2px solid #000;
                    border-top: 2px solid #000;
                    transform: rotate(-45deg);
                }
            }
        }

        .eight-slider {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img {
                    object-fit: contain;
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }



    .product-slider {
        padding: 80px 120px;

        @include r(1200) {
            padding: 60px 15px;
        }
    }


    .responsive-slider {
        .slick-arrow {
            border: 1px solid #000;
            width: 25px;
            height: 25px;
            background: #fff;

            &.slick-next {
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 45%;
                    border-right: 2px solid #000;
                    border-top: 2px solid #000;
                    transform: rotate(45deg);
                    right: 35%;

                }
            }

            &.slick-prev {
                display: flex;
                align-items: center;
                justify-content: center;
                left: 0px;
                z-index: 99;

                &::after {
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 45%;
                    left: 40%;
                    border-left: 2px solid #000;
                    border-top: 2px solid #000;
                    transform: rotate(-45deg);
                }
            }
        }

    }

    
    .cards {
        padding: 16px;
        transition: .4s;
        z-index: 1;
        
        &:hover {
            transform: scale(1.04);

            .card_item {
                box-shadow: 4px 4px 4px #00000040, -4px -4px 8px #00000040;
            }

            .button-collection {
                background: #000;

                span {
                    color: #fff;
                }
            }
        }

        .card_item {
            box-shadow: 0 4px 4px #00000040;
            z-index: 999;

            .card_photo {
                height: 65%;
                display: inline-block;
                position: relative;
                text-align: center;
                span {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    background: #000;
                    display: inline-block;
                    padding: 0 8px;
                    font-family: ProductSans;
                    color: #fff;
                    text-transform: capitalize;
                    font-size: 14px;
                }

                img {
                    width: 90%;
                    height: 90%;
                    margin: auto;
                }
            }

            .product-info {
                padding: 24px;
                text-align: center;
                cursor: grab;
                overflow: hidden;
                @include r(576){
                   padding: 6px;
                }
                .product-thumbnail__title {
                    font-family: ProductSans-Bold;
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: uppercase;
                    margin-bottom: 12px;
                    color: #000;
                    display: inline-block;
                }

                .product-thumbnail__vendor {
                    font-family: ProductSans;
                    font-size: 15px;
                    line-height: 17px;
                    letter-spacing: .03em;
                    text-transform: capitalize;
                    color: #000;
                    margin-bottom: 12px;
                    display: inline-block;
                }

                .bottom-card-styling {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 32px;
                    margin-top: 10px;
                    margin-bottom: 16px;
                    @include r(576){
                        display: block;
                        gap: 8px;
                    }
                }

       

                .button-collection {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 0;
                    border: 2px solid #333;
                    min-height: 45px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000;
                    align-items: center;
                    padding: 0 12px;
                    transition: .4s;
                    
                    span {
                        font-family: ProductSans-Medium;
                    }
                }
            }
        }

    }

    .manuals {
        padding: 0 100px 100px 100px;

        @include r(1200) {
            padding: 0 15px 40px 15px;
        }

        .product-wrap {
            position: relative;
            overflow: hidden;
            height: 400px;

            @include r(1200) {
                height: 320px;

                @include r(992) {
                    margin-bottom: 16px;
                }
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }

            img {
                width: 100%;
                transition: 0.3s;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.5;
                left: 0;
                top: 0;
            }

            .collection-info__caption {
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                align-items: end;
                left: 0;
                bottom: 0;
                padding: 32px;
                z-index: 999;

                @include r(1200) {
                    justify-content: center;
                    align-items: center;

                    .collection-info__caption-wrapper {
                        text-align: center;
                    }
                }

                .title {
                    font-family: vanguard-cf-bold;
                    font-style: normal;
                    font-size: 33px;
                    line-height: 40px;
                    letter-spacing: .05em;
                    margin-bottom: 10px;
                    color: #fff;
                }

                p {
                    margin-top: 10px;
                    font-family: ProductSans;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: .01em;
                    color: #fff;
                }

                .read_now {
                    font-family: Helvetica;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    letter-spacing: .01em;
                    border: none;
                    min-width: 155px;
                    min-height: 40px;
                    border-radius: 0;

                }
            }
        }
    }


    .names_in_football {
        padding: 0 150px 80px 150px;

        @include r(1365) {
            padding: 0 15px 80px 15px;

            @include r(992) {
                padding: 0 15px 30px 15px;

                @include r(576) {
                    padding: 0 15px 10px 15px;
                }
            }
        }

        .three-slider {
            padding-bottom: 24px;

            .slick-arrow {
                border: 1px solid #000;
                width: 25px;
                height: 25px;
                background: #fff;
                top: 35%;

                &.slick-next {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 12px;

                    @include r(992) {
                        right: 0;
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        width: 45%;
                        height: 45%;
                        border-right: 2px solid #000;
                        border-top: 2px solid #000;
                        transform: rotate(45deg);
                        right: 35%;

                    }
                }

                &.slick-prev {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 12px;
                    z-index: 99;

                    @include r(992) {
                        left: 0;
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        width: 45%;
                        height: 45%;
                        left: 40%;
                        border-left: 2px solid #000;
                        border-top: 2px solid #000;
                        transform: rotate(-45deg);
                    }
                }
            }

            .slide_item {
                margin: 0 24px 24px 24px;

                @include r(992) {
                    margin: 0 15px 24px 15px;
                }

                .slide_photo {
                    img {
                        width: 100%;
                        height: 470px;
                        object-fit: cover;

                        @include r(992) {
                            height: 320px;
                        }
                    }
                }

                .tv_text {
                    padding: 16px;

                    p {
                        font-family: ProductSans-Light;
                        font-size: 15px;
                        margin: 12px 0;
                    }

                    h3 {
                        font-family: ProductSans-Bold;
                        font-size: 22px;
                        margin-bottom: 0;

                        @include r(992) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

    }

    .mail-blog {
        padding: 70px 200px;
        background-color: #eeeeee;
        position: relative;

        @include r(992) {
            padding: 70px 15px;

            @include r(576) {
                padding: 20px 15px;
            }
        }

        .mail-title {
            z-index: 199;

            h3 {
                font-size: 50px;
                letter-spacing: .02em;
                text-transform: uppercase;
                color: #000;
                font-family: vanguard-cf-bold;
                margin-bottom: 0;

                @include r(768) {
                    font-size: 36px;
                }
            }

            h5 {
                font-size: 33px;
                line-height: 115%;
                letter-spacing: .02em;
                font-family: vanguard-cf-bold;

                @include r(768) {
                    font-size: 27px;
                }
            }
        }


        .bg-man {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            z-index: -99;

            @include r(1200) {
                display: none;
            }
        }

        .mail-group {
            max-width: 600px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top: 20px;
            z-index: 199;

            input {
                border-radius: 0;
                box-shadow: none;
                border: 1px solid #ddd;
                min-height: 45px;
                font-family: ProductSans-Medium;
            }

            button {
                width: 100%;
                min-height: 45px;
                border-color: #000;
                font-family: ProductSans-Bold;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                letter-spacing: .01em;
                max-width: 120px;
                text-transform: uppercase;
                color: #fff;
                background: #000;
            }
        }
    }

}

.block_title {
    position: relative;
    margin-bottom: 70px;
    text-align: center;

    @include r(1200) {
        margin-bottom: 50;

        @include r(768) {
            margin-bottom: 32px;
        }
    }

    h2 {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 33px;
        line-height: 40px;
        letter-spacing: .02em;
        font-family: vanguard-cf-bold;
        margin-bottom: 0;

        @include r(768) {
            font-size: 24px;
            line-height: 32px;

            @include r(576) {
                font-size: 20px;
                line-height: 24px;
            }
        }

    }

    h4 {
        font-family: vanguard-cf-bold;
        font-size: 20px;
        line-height: 24px;

        @include r(576) {
            font-size: 17px;
            line-height: 24px;
        }
    }

    p {
        font-size: 16px;
        color: #1e1e1e;
        font-family: ProductSans;
        margin-bottom: 0;
        margin-top: 16px;

        @include r(576) {
            font-size: 14px;
            margin-top: 8px;
        }
    }

    .title_link {
        position: absolute;
        right: 0;
        top: 0;
        font-style: normal;
        font-family: ProductSans-Bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .01em;
        color: #000;
        min-width: 145px;
        min-height: 45px;
        border: 1px solid #000;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;

        @include r(1200) {
            display: none;
        }
    }
}