.pages {
    padding: 40px 0;
    text-align: center;

    .pages_title {
        h3 {
            color: #000;
            font-size: 30px;
            line-height: 1.125;
            font-family: vanguard-cf-bold;
            margin-bottom: 0;
            text-transform: uppercase;
        }
    }

    .pages_photo {
        margin: 40px 0;
    }

    .icon_animation {
        span {
            color: #000;
            font-size: 20px;
            animation: down 1.5s infinite;
            display: inline-block;
        }
    }

    .page_content {
        .download_mail {
            text-transform: uppercase;
            line-height: 1.5;
            color: #000;
            display: block;
            letter-spacing: 1px;
            font-family: vanguard-cf-bold;
        }

        .page_form {
            max-width: 500px;
            margin: 40px auto;
            input{
                box-sizing: border-box;
                border-radius: 4px;
                padding: 0px 0px 0px 16px;
                height: 54px;
                text-align: left;
                color: rgb(0, 0, 0);
                font-family: ProductSans-Medium;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0px;
                background-color: rgb(255, 255, 255);
                border: 1px solid #000;
                margin-bottom: 16px;
            }
            button {
                background: rgb(0, 0, 0);
                border-radius: 0;
                border-style: none;
                border-color: rgb(29, 29, 29);
                border-width: 2px;
                color: rgb(255, 255, 255);
                font-family: ProductSans-Bold;
                font-size: 20px;
                line-height: 1;
                white-space: normal;
                padding: 0px 10px;
                text-align: center;
                word-break: break-word;
                align-self: flex-end;
                cursor: pointer;
                height: 54px;
            }
        }
        p{
            font-size: 14px;
            color: #1e1e1e;
            line-height: 1.5;
            font-family: ProductSans;
            strong{
            font-family: ProductSans-Bold;
            }
        }
    }
}


@keyframes down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}