.product {
    background: linear-gradient(270deg, rgba(41, 41, 41, .4) 0%, rgba(65, 65, 63, .4) 51.04%, rgba(41, 41, 41, .4) 100%), linear-gradient(180deg, #292929 0%, #000000 46.35%, #292929 100%);
    padding: 30px 130px;

    @include r(1600) {
        padding: 30px 15px;
    }


    .slider-product-nav {
        .p_photo {
            cursor: pointer;
        }
    }

    .pro-left {
        height: 110vh;
        overflow-y: auto;
        padding-right: 16px;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar {
            width: 4px;
            background: transparent;
        }


        &::-webkit-scrollbar-thumb {
            background: #fff;
        }
    }

    .product_info {
        background: #fff;
        box-shadow: 0 4px 4px #00000040, 0 -4px 4px #ffffff40;
        padding: 15px 20px;

        .sale {
            background-color: #000;
            color: #fff;
            width: calc(25% - 10px);
            display: inline-block;
            float: none;
            text-transform: capitalize;
            text-align: center;
            margin-bottom: 20px;
            font-family: ProductSans-Bold;
        }

        .p_title {
            font-family: vanguard-cf-bold;
            font-size: 33px;
            margin-bottom: 4px;
            line-height: 39px;
        }

        .p_desc {
            font-family: ProductSans-Light;
            font-size: 15px;
            line-height: 17px;
        }

        .body_info {
            font-family: ProductSans-Light;

            .info_text {
                display: flex;
                margin-bottom: 10px;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 20px;
                    height: 20px;
                    margin-right: 8px;
                    background: #15AB67;
                    color: #fff;
                    font-size: 12px;
                    margin-top: 2px;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }

        .button-collection {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-radius: 0;
            border: 2px solid #333;
            height: 55px;
            font-size: 16px;
            line-height: 19px;
            color: #fff;
            align-items: center;
            padding: 0 24px;
            transition: .4s;
            background: #000;
            margin-bottom: 10px;

            .price_blog {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            del {
                color: #c4c4c4;
                font-family: ProductSans-Medium;
                font-size: 16px;
            }

            span {
                font-family: ProductSans-Medium;
                display: inline-block;
            }
        }

        .free-shipping-uk {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f5f5f5;
            padding: 13px 10px;
            margin-bottom: 10px;
            font-family: ProductSans;
            gap: 16px;
        }
    }

    .pro_info_tab {
        margin-top: 32px;

        .nav-tabs {
            margin-bottom: 24px;
            justify-content: center;
            gap: 24px;
        }

        .nav-link {
            background: transparent !important;
            border-radius: 0;
            border: 0;
            color: #fff;
            font-family: vanguard-cf-bold;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: .03em;
            text-transform: uppercase;
            position: relative;
            padding: 0 4px 12px 4px;

            &.active {
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: #fff;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        .tab-content {
            color: #fff;

            .md-text {
                color: #fff;
                font-family: vanguard-cf-bold;
                font-size: 22px;
                line-height: 26px;
                letter-spacing: .03em;
                text-transform: uppercase;
                margin-bottom: 12px;
            }

            .sm-text {
                color: #fff;
                font-size: 15px;
                font-family: ProductSans-Bold;
                line-height: 145%;
                text-transform: uppercase;
            }

            .tab-text {
                font-size: 15px;
                font-family: ProductSans-Light;
                line-height: 145%;
                color: #fff;
            }

            a {
                color: #fff;
            }
        }
    }

}

.similar-product {
    padding: 30px 130px;

    @include r(1200) {
        padding: 30px 15px;
    }

    .responsive-slider {
        .slick-arrow {
            border: 0;
            width: 30px;
            height: 30px;
            background: #fff;

            &.slick-next {
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 45%;
                    border-right: 2px solid #000;
                    border-top: 2px solid #000;
                    transform: rotate(45deg);
                    right: 35%;

                }
            }

            &.slick-prev {
                display: flex;
                align-items: center;
                justify-content: center;
                left: 0px;
                z-index: 99;

                &::after {
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 45%;
                    left: 40%;
                    border-left: 2px solid #000;
                    border-top: 2px solid #000;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .cards {
        .card_item {
            box-shadow: none !important;

            &:hover {
                .button-collection {
                    background: #000 !important;
                }
            }

            .select-blog {
                margin-bottom: 12px;

                select {
                    width: 100%;
                    color: #232323;
                    background-color: #ffffff;
                    border-color: #cccccc;
                    border-radius: 35px;
                    min-height: 45px;
                    padding: 0 16px;
                    font-family: ProductSans;

                    option {
                        font-family: ProductSans;
                    }
                }
            }

            .button-collection {
                justify-content: center !important;
                border-radius: 50px !important;
                background: #fff !important;
            }
        }
    }
}

.football-mens {
    .responsive-slider {
        .slick-arrow {
            border: 0;
            width: 30px;
            height: 30px;
            background: transparent;

            &.slick-next {
                display: flex;
                align-items: center;
                justify-content: center;
                right: 30px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 45%;
                    border-right: 2px solid #000;
                    border-top: 2px solid #000;
                    transform: rotate(45deg);
                    right: 35%;

                }
            }

            &.slick-prev {
                display: flex;
                align-items: center;
                justify-content: center;
                left: 30px;
                z-index: 99;

                &::after {
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 45%;
                    left: 40%;
                    border-left: 2px solid #000;
                    border-top: 2px solid #000;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.p_info_item {
    padding: 60px 130px;

    @include r(1200) {
        padding: 30px 15px;
    }

    .block_title {
        p {
            width: 60%;
            margin: auto;
            margin-top: 20px !important;

            @include r(992) {
                width: 90%;
            }
        }
    }

    .p_i_img {
        text-align: center;

        @include r(992) {
            margin-bottom: 20px;
        }
    }

    .p_i_text {
        @include r(992) {
            margin-bottom: 20px;
        }

        h4 {
            font-family: vanguard-cf-bold;
            text-transform: uppercase;
            color: #000;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: .05em;
        }

        p {
            font-size: 16px;
            color: #1e1e1e;
            font-family: ProductSans-Light;
        }
    }
}