@@include('templates/header.html')
<main>
    <div class="collection_banner">
        <div class="container-fluid">

            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="collection_info">
                        <h3>PROTEIN</h3>
                        <p>Building lean muscle mass is a key requirement for performing to your full potential on the
                            football pitch. Protein supplementation help support this. We only use the highest quality
                            whey protein isolate and vegan protein alternatives in our Informed Sport® approved protein.
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 p-0">
                    <div class="collection_img">
                        <img class="img-fluid" src="./img/collections.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="collection_product">


        <div class="row">
            <div class="col-xl-3">
                <form class="collection_filter">
                    <div class="filter_title">
                        <h3>PRODUCT TYPE</h3>
                    </div>    
                    <div class="filter-group">
                        <input type="checkbox" id="packs" >
                        <label for="packs">Player Packs</label>
                    </div>
                    <div class="filter-group">
                        <input type="checkbox" id="protein"  >
                        <label for="protein">Whey Protein</label>
                    </div>
                    <div class="filter-group">
                        <input type="checkbox" id="creatine" >
                        <label for="creatine">Creatine</label>
                    </div>
                    <div class="filter-group">
                        <input type="checkbox" id="recovery">
                        <label for="recovery">Recovery Protein</label>
                    </div>
                    <div class="filter-group">
                        <input type="checkbox" id="whey">
                        <label for="whey">Clear Whey</label>
                    </div>
                    <div class="filter-group">
                        <input type="checkbox" id="vegan">
                        <label for="vegan">Vegan Protein</label>
                    </div>
                    <div class="filter-group">
                        <input type="checkbox" id="shake">
                        <label for="shake">Shake + Takes</label>
                    </div>
                    <div class="filter_title">
                        <h3>YOUR GOAL</h3>
                    </div> 

                    <div class="filter-group">
                        <input type="checkbox" id="strength">
                        <label for="strength">Strength</label>
                    </div>
                    <div class="filter-group">
                        <input type="checkbox" id="performance">
                        <label for="performance">Performance Boost</label>
                    </div>
                    <div class="filter-group">
                        <input type="checkbox" id="boost">
                        <label for="boost">Recovery</label>
                    </div>

                    <div class="filter_title">
                        <h3>age</h3>
                    </div> 

                    <div class="filter-group">
                        <input type="checkbox" id="age12">
                        <label for="age12">12+</label>
                    </div>
                    <div class="filter-group">
                        <input type="checkbox" id="age18">
                        <label for="age18">18+</label>
                    </div>
                </form>
            </div>
    
            <div class="col-xl-9">
                <div class="row mt-5">
                    <div class="cards col-xl-4 col-lg-4 col-6">
        
                        <div class="card_item">
        
                            <a href="product.html" class="card_photo">
                                <span>
                                    sale
                                </span>
                                <img class="img-fluid" src="./img/vitamin.png" alt="">
                            </a>
        
                            <div class="product-info">
                                <div class="price_title_comb">
                                    <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                        <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                        <a href="product.html" class="button-collection">
                                            <span class="p-shop">SHOP</span>
                                            <span class="money">£27.97</span>
                                        </a>
                                    </div>
                                </div>
        
        
                            </div>
                        </div>
        
        
                    </div>
                    <div class="cards col-xl-4 col-lg-4 col-6">
        
                        <div class="card_item">
        
                            <a href="product.html" class="card_photo">
                                <span>
                                    sale
                                </span>
                                <img class="img-fluid" src="./img/HYDRATE.png" alt="">
                            </a>
        
                            <div class="product-info">
                                <div class="price_title_comb">
                                    <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                        <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                        <a href="product.html" class="button-collection">
                                            <span class="p-shop">SHOP</span>
                                            <span class="money">£27.97</span>
                                        </a>
                                    </div>
                                </div>
        
        
                            </div>
                        </div>
        
        
                    </div>
                    <div class="cards col-xl-4 col-lg-4 col-6">
        
                        <div class="card_item">
        
                            <a href="product.html" class="card_photo">
                                <span>
                                    sale
                                </span>
                                <img class="img-fluid" src="./img/packs.png" alt="">
                            </a>
        
                            <div class="product-info">
                                <div class="price_title_comb">
                                    <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                        <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                        <a href="product.html" class="button-collection">
                                            <span class="p-shop">SHOP</span>
                                            <span class="money">£27.97</span>
                                        </a>
                                    </div>
                                </div>
        
        
                            </div>
                        </div>
        
        
                    </div>
                    <div class="cards col-xl-4 col-lg-4 col-6">
        
                        <div class="card_item">
        
                            <a href="product.html" class="card_photo">
                                <span>
                                    sale
                                </span>
                                <img class="img-fluid" src="./img/energy.png" alt="">
                            </a>
        
                            <div class="product-info">
                                <div class="price_title_comb">
                                    <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                        <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                        <a href="product.html" class="button-collection">
                                            <span class="p-shop">SHOP</span>
                                            <span class="money">£27.97</span>
                                        </a>
                                    </div>
                                </div>
        
        
                            </div>
                        </div>
        
        
                    </div>
                    <div class="cards col-xl-4 col-lg-4 col-6">
        
                        <div class="card_item">
        
                            <a href="product.html" class="card_photo">
                                <span>
                                    sale
                                </span>
                                <img class="img-fluid" src="./img/protein.png" alt="">
                            </a>
        
                            <div class="product-info">
                                <div class="price_title_comb">
                                    <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                        <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                        <a href="product.html" class="button-collection">
                                            <span class="p-shop">SHOP</span>
                                            <span class="money">£27.97</span>
                                        </a>
                                    </div>
                                </div>
        
        
                            </div>
                        </div>
        
        
                    </div>
                    <div class="cards col-xl-4 col-lg-4 col-6">
        
                        <div class="card_item">
        
                            <a href="product.html" class="card_photo">
                                <span>
                                    sale
                                </span>
                                <img class="img-fluid" src="./img/vitamin.png" alt="">
                            </a>
        
                            <div class="product-info">
                                <div class="price_title_comb">
                                    <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                        <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                        <a href="product.html" class="button-collection">
                                            <span class="p-shop">SHOP</span>
                                            <span class="money">£27.97</span>
                                        </a>
                                    </div>
                                </div>
        
        
                            </div>
                        </div>
        
        
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</main>
@@include('templates/footer.html')