@@include('templates/header.html')

<main>

    <div class="main-slider">
        <div class="fade-slider">
            <div class="slider-item">
                <a href="product.html">
                    <img src="./img/slide-banner.png" alt="">
                </a>
            </div>
            <div class="slider-item">
                <a href="product.html">
                    <img src="./img/slide-banner-2.png" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="logo-slider">
        <div class="eight-slider">
            <a href="product.html">
                <img src="./img/image 1.png" alt="">
            </a>
            <a href="product.html">
                <img src="./img/image 2.png" alt="">
            </a>
            <a href="product.html">
                <img src="./img/image 3.png" alt="">
            </a>
            <a href="product.html">
                <img src="./img/image 4.png" alt="">
            </a>
            <a href="product.html">
                <img src="./img/image 5.png" alt="">
            </a>
            <a href="product.html">
                <img src="./img/image 6.png" alt="">
            </a>
            <a href="product.html">
                <img src="./img/image 7.png" alt="">
            </a>
            <a href="product.html">
                <img src="./img/image 8.png" alt="">
            </a>
            <a href="product.html">
                <img src="./img/image 9.png" alt="">
            </a>
            <a href="product.html">
                <img src="./img/image 10.png" alt="">
            </a>
        </div>
    </div>


    <div class="product-slider">

        <div class="block_title">
            <h2>WE HELP FOOTBALLERS UNLEASH THEIR FULL POTENTIAL.</h2>
            <a class="title_link" href="product.html">Shop Now</a>
        </div>

        <div class="responsive-slider">

            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">
                        <span>
                            sale
                        </span>
                        <img class="img-fluid" src="./img/vitamin.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                <a href="product.html" class="button-collection">
                                    <span class="p-shop">SHOP</span>
                                    <span class="money">£27.97</span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>


            </div>

            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">
                        <span>
                            sale
                        </span>
                        <img class="img-fluid" src="./img/HYDRATE.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                <a href="product.html" class="button-collection">
                                    <span class="p-shop">SHOP</span>
                                    <span class="money">£27.97</span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">
                        <span>
                            sale
                        </span>
                        <img class="img-fluid" src="./img/packs.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                <a href="product.html" class="button-collection">
                                    <span class="p-shop">SHOP</span>
                                    <span class="money">£27.97</span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">
                        <span>
                            sale
                        </span>
                        <img class="img-fluid" src="./img/energy.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                <a href="product.html" class="button-collection">
                                    <span class="p-shop">SHOP</span>
                                    <span class="money">£27.97</span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">
                        <span>
                            sale
                        </span>
                        <img class="img-fluid" src="./img/protein.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                <a href="product.html" class="button-collection">
                                    <span class="p-shop">SHOP</span>
                                    <span class="money">£27.97</span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">
                        <span>
                            sale
                        </span>
                        <img class="img-fluid" src="./img/vitamin.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html" class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">Recovery Protein</span></div>
                                <a href="product.html" class="button-collection">
                                    <span class="p-shop">SHOP</span>
                                    <span class="money">£27.97</span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="manuals">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="product-wrap">
                    <img class="" src="./img/phone.png" alt="">

                    <a class="collection-info__caption" href="pages.html">
                        <div class="collection-info__caption-wrapper">
                            <span class="title"> Training Guide </span>
                            <p>Download our Football Training Guide!</p>
                            <button type="button" class="button read_now">Read Now</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="product-wrap">
                    <img class="" src="./img/book.png" alt="">

                    <a class="collection-info__caption" href="pages.html">
                        <div class="collection-info__caption-wrapper">
                            <span class="title"> Training Guide </span>
                            <p>Download our Football Training Guide!</p>
                            <button type="button" class="button read_now">Read Now</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="product-wrap">
                    <img class="" src="./img/mans.png" alt="">

                    <a class="collection-info__caption" href="pages.html">
                        <div class="collection-info__caption-wrapper">
                            <span class="title"> Training Guide </span>
                            <p>Download our Football Training Guide!</p>
                            <button type="button" class="button read_now">Read Now</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="names_in_football">
        <div class="block_title">
            <h4>
                #UPYOURGAME
            </h4>
            <h2>WE HELP FOOTBALLERS UNLEASH THEIR FULL POTENTIAL.</h2>
            <p>Athletes at all levels of the game trust us for their performance nutrition needs.</p>
        </div>
        <div class="three-slider">
            <div class="slide_item shadow">
                <div class="slide_photo">
                    <img src="./img/girl.png" alt="">
                </div>
                <div class="tv_text">
                    <i class="fas fa-quote-left"></i>
                    <p>Soccer Supplement provide the nutritional support my body needs to help me prepare, perform and
                        recover each week.</p>
                    <h3>Lucy Bronze | Barcelona & England</h3>
                </div>
            </div>
            <div class="slide_item shadow">
                <div class="slide_photo">
                    <img src="./img/girl.png" alt="">
                </div>
                <div class="tv_text">
                    <i class="fas fa-quote-left"></i>
                    <p>Soccer Supplement provide the nutritional support my body needs to help me prepare, perform and
                        recover each week.</p>
                    <h3>Lucy Bronze | Barcelona & England</h3>
                </div>
            </div>
            <div class="slide_item shadow">
                <div class="slide_photo">
                    <img src="./img/girl.png" alt="">
                </div>
                <div class="tv_text">
                    <i class="fas fa-quote-left"></i>
                    <p>Soccer Supplement provide the nutritional support my body needs to help me prepare, perform and
                        recover each week.</p>
                    <h3>Lucy Bronze | Barcelona & England</h3>
                </div>
            </div>
            <div class="slide_item shadow">
                <div class="slide_photo">
                    <img src="./img/girl.png" alt="">
                </div>
                <div class="tv_text">
                    <i class="fas fa-quote-left"></i>
                    <p>Soccer Supplement provide the nutritional support my body needs to help me prepare, perform and
                        recover each week.</p>
                    <h3>Lucy Bronze | Barcelona & England</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="mail-blog">
        <img class="bg-man" src="./img/bg-man.png" alt="">
        <div class="mail-title">
            <h3>
                JOIN THE SQUAD.
            </h3>
            <h5>
                GET 15% OFF YOUR FIRST ORDER.
            </h5>
        </div>
        <form action="">
            <div class="mail-group">
                <input type="text" class="form-control" placeholder="Email">
                <button>sign up</button>
            </div>
        </form>

    </div>


</main>


@@include('templates/footer.html')