@@include('templates/header.html')
<main>

    <div class="pages">
        <div class="pages_title">
            <h3>
                MATCH DAY NUTRITION GUIDE
            </h3>
        </div>
        <div class="pages_photo">
            <img src="./img/page_books.png" alt="">
        </div>
        <div class="page_content">
            <h5 class="download_mail">Download Your FREE Footballer Nutrition Guide now.</h5>
            <div class="icon_animation">
                <span>
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>

            <form action="" class="page_form">

                <input type="text" class="form-control shadow-none" placeholder="Email">
                <button>Get Nutrition Guide</button>
            </form>
            <p>In this guide we outline key strategies for maximising your performance on a
                Matchday through food and supplements.</p>
            <p><strong><span style="color: #000000;">✓</span></strong> Prepare for Kick Off
            </p>
            <p><strong>✓</strong> Make the most of Half Time</p>
            <p><strong>✓</strong> Speed up your Post Match Recovery</p>
            <p><strong>✓</strong> Meal Plan and Supplement Guide</p>
            <p>These proven strategies are taken straight from the Premier League®.</p>

        </div>
    </div>

</main>
@@include('templates/footer.html')