@@include('templates/header.html')
<main>
    <div class="product">
        <div class="row">
            <div class="col-xl-7">
                <div class="pro-left">
                    <div class="slider-product">
                        <div class="p_photo"> <img class="img-fluid" src="./img/HYDRATE.png" alt=""> </div>
                        <div class="p_photo"> <img class="img-fluid" src="./img/packs.png" alt=""> </div>
                        <div class="p_photo"> <img class="img-fluid" src="./img/energy.png" alt=""> </div>
                        <div class="p_photo"> <img class="img-fluid" src="./img/protein.png" alt=""> </div>
                        <div class="p_photo"> <img class="img-fluid" src="./img/vitamin.png" alt=""> </div>
                    </div>
                    <div class="slider-product-nav">
                        <div class="p_photo"> <img class="img-fluid" src="./img/HYDRATE.png" alt=""> </div>
                        <div class="p_photo"> <img class="img-fluid" src="./img/packs.png" alt=""> </div>
                        <div class="p_photo"> <img class="img-fluid" src="./img/energy.png" alt=""> </div>
                        <div class="p_photo"> <img class="img-fluid" src="./img/protein.png" alt=""> </div>
                        <div class="p_photo"> <img class="img-fluid" src="./img/vitamin.png" alt=""> </div>
                    </div>

                    <div class="pro_info_tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home"
                                    type="button" role="tab" aria-controls="home" aria-selected="true">About</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false">how to
                                    use</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact"
                                    type="button" role="tab" aria-controls="contact"
                                    aria-selected="false">nutritional</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="pa_full pa_data">
                                    <h2 class="md-text">Pre Game</h2>
                                    <h6 class="sm-text">Focus90® Gel x12</h6>
                                    <p class="tab-text">Pre-Match Caffeinated Gel - Cherry Flavour</p>
                                    <p class="tab-text">Focus90® gels contain a blend of three active ingredients
                                        designed
                                        to give you a
                                        pre-match boost, improve your focus and prepare you for the intensity of the
                                        game.
                                    </p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a> for more information.</p>
                                    <h6 class="sm-text">Focus90® Shot x12</h6>
                                    <p class="tab-text">Pre-Match Caffeinated Shot - Mixed Berry Flavour</p>
                                    <p class="tab-text">Focus90® shots contain 4 powerful ingredients in one shot,
                                        including
                                        Caffeine,
                                        Beta-Alanine, L-Theanine and Tyrosine, formulated to help increase focus, reduce
                                        fatigue and prepare you for the game.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a> for more information.</p>
                                    <h6 class="sm-text">Pro Grade™ Nitrates x24</h6>
                                    <p class="tab-text">Nitrate Shot - Mixed Berry Flavour</p>
                                    <p class="tab-text">Pro Grade™ Nitrate Shot is designed to improve endurance,
                                        repeated-sprint ability,
                                        and power output. Containing 400mg Nitrates per serving and 4 active ingredients
                                        these shots are formulated to boost your performance levels.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a>&nbsp;for more information.</p>
                                    <h2 class="md-text">During Game</h2>
                                    <h6 class="sm-text">Fuel90® Gel x24</h6>
                                    <p class="tab-text">Energy and Electrolyte Gel - Lemon and Lime Flavour and Mixed
                                        Berry
                                        Flavour</p>
                                    <p class="tab-text">Fuel90® provides fast release superior dual carbohydrate energy,
                                        key
                                        to getting the
                                        energy and electrolytes you need when you need them.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a> for more information.</p>
                                    <h6 class="sm-text">Hydrate90® Drink x12</h6>
                                    <p class="tab-text">Isotonic Drink - Orange Flavour</p>
                                    <p class="tab-text">A great tasting drink combining dual carbohydrate energy with
                                        electrolytes and 100%
                                        RDA of both Vitamin D and Vitamin B, to help reduce muscle cramps and maintain
                                        endurance and performance over 90 minutes.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a>&nbsp;for more information.</p>
                                    <h6 class="sm-text">Hydrate90® Sachets x12</h6>
                                    <p class="tab-text">Energy and Electrolyte Drink - Mixed Berry Flavour</p>
                                    <p class="tab-text">A great tasting drink combining dual carbohydrate energy and
                                        electrolytes, to help
                                        reduce muscle cramps and maintain endurance and performance over 90 minutes.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a>&nbsp;for more information.</p>
                                    <h6 class="sm-text">Hydrate90® Tablets x20</h6>
                                    <p class="tab-text">Electrolyte Tablets - Mixed Berry Flavour</p>
                                    <p class="tab-text">Combining electrolytes and vitamins these tablets are perfect
                                        for
                                        when you want to
                                        perform on the pitch without taking on extra carbohydrates or sugar.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a>&nbsp;for more information.</p>
                                    <h2 class="md-text">After Game</h2>
                                    <h6 class="sm-text">Whey90® 500g</h6>
                                    <p class="tab-text">Whey Protein Isolate - Chocolate Flavour</p>
                                    <p class="tab-text">High protein, high BCAAs and very low fat, Whey90® is perfect
                                        for
                                        any footballer
                                        looking to improve their strength on the pitch.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a> for more information.</p>
                                    <p class="tab-text"><strong>CLEAR WHEY90® 500G</strong><br></p>
                                    <p class="tab-text">Clear Whey Protein Isolate - Tropical Flavour</p>
                                    <p class="tab-text">High in protein, high in BCAA’s, and super-low in fat, so that
                                        you
                                        can build the lean
                                        muscle mass you need to add strength to your game.<br></p>
                                    <p class="tab-text"><strong><a href="#">Click
                                                here</a></strong> for more information.<br></p>
                                    <h6 class="sm-text">Recover90® 1kg</h6>
                                    <p class="tab-text">Post-Match Recovery Blend - Vanilla Flavour</p>
                                    <p class="tab-text">An ideal combination of whey protein, carbohydrates and
                                        electrolytes
                                        to provide the
                                        all-in-one recovery solution to your body’s needs.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a> for more information.</p>
                                    <h6 class="sm-text">Creatine Monohydrate 500g</h6>
                                    <p class="tab-text">Creatine Monohydrate® is an ultra-pure (99.99%), micronised,
                                        next
                                        generation creatine
                                        monohydrate, designed for footballers who are looking to add extra explosiveness
                                        to
                                        their game.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a>&nbsp;for more information.</p>
                                    <h2 class="md-text">Health</h2>
                                    <h6 class="sm-text">Collagen Repair Shot x24</h6>
                                    <p class="tab-text">Injury Recovery &amp; Prevention - Apple Flavour</p>
                                    <p class="tab-text">Pro Grade™ Collagen Repair Shot to support recovery from
                                        football
                                        related injuries.
                                        Each shot contains 22g Collagen plus 5 active ingredients to support healthy
                                        joints,
                                        tendons and ligaments.</p>
                                    <p class="tab-text"><strong><a href="#">Click
                                                here</a></strong>for more information.</p>
                                    <h6 class="sm-text">Vitamin D3 Tablets x120</h6>
                                    <p class="tab-text">Highly recommended for footballers looking to maintain their
                                        overall
                                        health and
                                        promote a strong immune system all year round.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a> for more information.</p>
                                    <h6 class="sm-text">Omega 3 Softgels x120</h6>
                                    <p class="tab-text">A high-strength formula designed to reduce inflammation and
                                        support
                                        the heart health,
                                        eye health and brain function of footballers.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a> for more information.</p>
                                    <h6 class="sm-text">Probiotic Capsules x120</h6>
                                    <p class="tab-text">A blend of prebiotic and probiotic friendly bacteria to help
                                        footballers improve and
                                        maintain the delicate balance of their gut bacteria.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a> for more information.</p>
                                    <h6 class="sm-text">Multivitamins x120&nbsp;</h6>
                                    <p class="tab-text">Including an advanced vitamin B complex, super-antioxidants
                                        vitamins
                                        A, C and E,
                                        vitamin K to support bone health, and 11 other key vitamins and minerals.</p>
                                    <p class="tab-text"><a href="#"><strong>Click
                                                here</strong></a> for more information.</p>
                                    <h2 class="md-text">Accessories</h2>
                                    <h6 class="sm-text">Blenderbottle® x1</h6>
                                    <h6 class="sm-text">Soccer Supplement® Water Bottle x1</h6>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="pa_full pa_data">
                                    <h6 class="sm-text">Suitable For</h6>
                                    <p class="tab-text">Recommended for any footballer aged 18 or over who is looking to
                                        improve their focus and endurance on the pitch.</p>
                                    <ul>
                                        <li class="tab-text">Gluten Free</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="pa_full pa_data">
                                    <h2 class="md-text">Nutritional Information</h2>
                                    <p class="tab-text"><em>Please see individual product pages for nutritional
                                            information.</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="product_info">
                    <span class="sale">sale</span>
                    <h4 class="p_title">
                        STARTER PACK
                    </h4>
                    <p class="p_desc">
                        Football Nutrition Bundle
                    </p>

                    <hr>

                    <div class="body_info">
                        <div class="info_text">
                            <span><i class="fas fa-check"></i></span>
                            <p class="tab-text">The perfect introduction if you want to #UpYourGame. Our Informed Sport
                                certified
                                supplements are formulated for the exact needs of footballers. Put them to the test, and
                                unleash your potential.</p>
                        </div>
                        <div class="info_text">
                            <span><i class="fas fa-check"></i></span>
                            <p class="tab-text">The perfect introduction if you want to #UpYourGame. Our Informed Sport
                                certified
                                supplements are formulated for the exact needs of footballers. Put them to the test, and
                                unleash your potential.</p>
                        </div>
                        <div class="info_text">
                            <span><i class="fas fa-check"></i></span>
                            <p class="tab-text">The perfect introduction if you want to #UpYourGame. Our Informed Sport
                                certified
                                supplements are formulated for the exact needs of footballers. Put them to the test, and
                                unleash your potential.</p>
                        </div>
                    </div>

                    <hr>
                    <button class="button-collection">
                        <span class="p-shop">SHOP</span>
                        <div class="price_blog">
                            <del>£27.97</del>
                            <span class="money">£24.97</span>
                        </div>

                    </button>

                    <div class="free-shipping-uk">
                        <img src="./img/delivery.png">
                        <div class="text">Free UK delivery over £50</div>
                    </div>
                    <div class="free-shipping-uk">
                        <div class="text">Pay in 30 days. No fees.</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="similar-product">

        <div class="block_title">
            <h2>PLAYERS ALSO LOVE</h2>
        </div>

        <div class="responsive-slider">

            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">

                        <img class="img-fluid" src="./img/vitamin.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html"
                                    class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">£27.97</span></div>

                                <div class="select-blog">
                                    <select>
                                        <option value="">Orange / 20 Tablets</option>
                                        <option value="">Orange / 40 Tablets</option>
                                        <option value="">Orange / 80 Tablets</option>
                                        <option value="">Mixed Berry / 20 Tablets</option>
                                        <option value="">Mixed Berry / 40 Tablets</option>
                                        <option value="">Mixed Berry / 80 Tablets</option>
                                    </select>
                                </div>


                                <button class="button-collection">
                                    <span class="p-shop">Add to cart</span>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>


            </div>

            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">

                        <img class="img-fluid" src="./img/HYDRATE.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html"
                                    class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">£27.97</span></div>
                                <div class="select-blog">
                                    <select>
                                        <option value="">Orange / 20 Tablets</option>
                                        <option value="">Orange / 40 Tablets</option>
                                        <option value="">Orange / 80 Tablets</option>
                                        <option value="">Mixed Berry / 20 Tablets</option>
                                        <option value="">Mixed Berry / 40 Tablets</option>
                                        <option value="">Mixed Berry / 80 Tablets</option>
                                    </select>
                                </div>
                                <button class="button-collection">
                                    <span class="p-shop">Add to cart</span>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">

                        <img class="img-fluid" src="./img/packs.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html"
                                    class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">£27.97</span></div>
                                <div class="select-blog">
                                    <select>
                                        <option value="">Orange / 20 Tablets</option>
                                        <option value="">Orange / 40 Tablets</option>
                                        <option value="">Orange / 80 Tablets</option>
                                        <option value="">Mixed Berry / 20 Tablets</option>
                                        <option value="">Mixed Berry / 40 Tablets</option>
                                        <option value="">Mixed Berry / 80 Tablets</option>
                                    </select>
                                </div>
                                <button class="button-collection">
                                    <span class="p-shop">Add to cart</span>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">

                        <img class="img-fluid" src="./img/energy.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html"
                                    class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">£27.97</span></div>
                                <div class="select-blog">
                                    <select>
                                        <option value="">Orange / 20 Tablets</option>
                                        <option value="">Orange / 40 Tablets</option>
                                        <option value="">Orange / 80 Tablets</option>
                                        <option value="">Mixed Berry / 20 Tablets</option>
                                        <option value="">Mixed Berry / 40 Tablets</option>
                                        <option value="">Mixed Berry / 80 Tablets</option>
                                    </select>
                                </div>
                                <button class="button-collection">
                                    <span class="p-shop">Add to cart</span>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">

                        <img class="img-fluid" src="./img/protein.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html"
                                    class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">£27.97</span></div>
                                <div class="select-blog">
                                    <select>
                                        <option value="">Orange / 20 Tablets</option>
                                        <option value="">Orange / 40 Tablets</option>
                                        <option value="">Orange / 80 Tablets</option>
                                        <option value="">Mixed Berry / 20 Tablets</option>
                                        <option value="">Mixed Berry / 40 Tablets</option>
                                        <option value="">Mixed Berry / 80 Tablets</option>
                                    </select>
                                </div>
                                <button class="button-collection">
                                    <span class="p-shop">Add to cart</span>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <div class="cards">

                <div class="card_item">

                    <a href="product.html" class="card_photo">

                        <img class="img-fluid" src="./img/vitamin.png" alt="">
                    </a>

                    <div class="product-info">
                        <div class="price_title_comb">
                            <div class="cd_design"> <a href="product.html"
                                    class="product-thumbnail__title">Recover90®</a>
                                <div class=""> <span class="product-thumbnail__vendor">£27.97</span></div>
                                <div class="select-blog">
                                    <select>
                                        <option value="">Orange / 20 Tablets</option>
                                        <option value="">Orange / 40 Tablets</option>
                                        <option value="">Orange / 80 Tablets</option>
                                        <option value="">Mixed Berry / 20 Tablets</option>
                                        <option value="">Mixed Berry / 40 Tablets</option>
                                        <option value="">Mixed Berry / 80 Tablets</option>
                                    </select>
                                </div>
                                <button class="button-collection">
                                    <span class="p-shop">Add to cart</span>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="football-mens">
        <div class="responsive-slider">
            <div class="rs_photo"> <img class="img-fluid" src="./img/11.png" alt=""> </div>
            <div class="rs_photo"> <img class="img-fluid" src="./img/22.png" alt=""> </div>
            <div class="rs_photo"> <img class="img-fluid" src="./img/33.png" alt=""> </div>
            <div class="rs_photo"> <img class="img-fluid" src="./img/44.png" alt=""> </div>
            <div class="rs_photo"> <img class="img-fluid" src="./img/55.png" alt=""> </div>

        </div>
    </div>

    <div class="p_info_item">
        <div class="block_title">
            <h2>
                SOCCER SUPPLEMENT
            </h2>
            <p>We work with top professional players and nutritionists from elite clubs to develop ideal solutions to
                the needs of footballers. This is why we are trusted by thousands of footballers across the globe, from
                the Sunday league to the Premier League.
            </p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p_i_img">
                    <img class="img-fluid" src="./img/image 1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p_i_text">
                    <h4>
                        INFORMED SPORT TESTED
                    </h4>
                    <p>
                        All of our products are rigorously tested under the Informed Sport programme, providing
                        assurance for players that our products have been tested for a wide range of prohibited
                        substances. We are passionate about testing because we know that 44% of failed drugs tests in
                        sport come as a result of untested supplements. We always put our players first and firmly
                        believe that you should never put an untested product into your body.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p_i_text">
                    <h4>
                        TRUSTED BY THE ELITE
                    </h4>
                    <p>
                        We produce the best products for footballers, and because of this we are trusted by hundreds of top professionals and clubs around the world. We will never compromise on quality, and by focussing solely on football performance we are uniquely positioned to bring you the precise science formulated for your exact needs as a footballer. Join the thousands of other footballers today and discover how Soccer Supplement can help you up your game. 
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p_i_img">
                    <img class="img-fluid" src="./img/mans-b.png" alt="">
                </div>
            </div>
        </div>

    </div>

</main>
@@include('templates/footer.html')